@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import 'swiper/css/bundle';

:root {
    --bg-main: #1B263B;
    --bg-card: rgb(203, 233, 233);
    --text-main: #FFFFC9;
    --text-muted: #FFFDE7;
    --border-color: #cccccc;
    --bg-footer: rgb(51, 51, 51);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#myHeader {
    background-color: var(--bg-main);
    padding-top: 15px; 
    padding-bottom: 15px;
    transition: all 0.4s ease-in-out; 
}

#myHeader .navbar-brand img {
    height: 90px;
    width: auto;
    transition: all 0.4s ease-in-out; 
}

#myHeader .nav-link {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: var(--text-main) !important; /* Ghi đè màu mặc định của Bootstrap */
    padding: 8px 24px !important;
    margin: 0px 1.4rem;
    border-radius: 50px;
    transition: all 0.3s ease;
}

#myHeader .nav-link.active,
#myHeader .nav-link:hover {
    background-color: var(--text-muted);
    color: var(--bg-main) !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--text-main);
}

#myHeader.scrolled {
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); /* Đổ bóng đậm hơn khi cuộn */
}

#myHeader.scrolled .navbar-brand img {
    height: 55px; /* Ép logo nhỏ lại */
}

#myHeader.scrolled .nav-link {
    font-size: 14px;
    padding: 6px 18px !important; 
}

.img-fluid {
    max-width: 100%; 
    height: auto; 
}
.productSwiper{
    --swiper-theme-color: #1B263B;
    --swiper-navigation-size: 1rem;
    --swiper-navigation-color: var(--bg-main);
    padding: 10px;
    height: 400px;
}
.productSwiper .swiper-slide {
    height: 100%;
}
.swiper-button-next,
.swiper-button-prev {
    background-color: #ffffff; 
    width: 40px;
    height: 40px;
    padding: 8px 0px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card-custom {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #cfcaca !important;
    border-radius: 16px; 
    overflow: hidden; 
    transition: all 0.4s ease-in-out; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.03); 
}

.card-custom:hover {
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 20px 40px rgba(27, 38, 59, 0.15);
    border-color: var(--bg-main) !important; 
}

.card-img-wrapped {
    flex: 3;
    width: 100%;
    height: 260px; 
    background-color: #fcfcfc; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.card-img-wrapped img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    padding: 10px;
    transition: transform 0.5s ease; 
}
.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


.card-custom:hover .card-img-wrapped img {
    transform: scale(1.1);
}

.btn-custom-contact {
    display: inline-block;
    text-decoration: none;
    background-color: #ffffff;
    color: var(--bg-main);;
    border: 1px solid var(--bg-main);
    border-radius: 50px; 
    padding: 6px 28px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

.btn-custom-contact:hover {
    background-color: var(--bg-main); 
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(255, 255, 201, 0.4); 
}
.productListSwiper{
    --swiper-theme-color: #1B263B;
    --swiper-navigation-size: 1rem;
    --swiper-navigation-color: var(--bg-main);
    padding: 10px;
   
}
.list-bg{
    padding: 2rem;
}
.products-list{
    background-color: #F5F5F5;

}

/* --- Khối bao bọc từng danh mục --- */
.category-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn giữa vòng tròn và chữ */
    cursor: pointer;
    margin: 0;
}

/* --- Vòng tròn trắng nổi 3D --- */
.category-circle {
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 20px; /* Khoảng cách từ vòng tròn xuống chữ */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.04); /* Bóng đổ mờ 4% tạo độ sâu */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-circle img {
    width: 85px; /* Kích thước ảnh bên trong vòng tròn */
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}


.category-title {
    font-size: 1.2rem;
    padding-top: 1.2rem;
    font-weight: 700;
    color: #1a1a1a;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.category-item:hover .category-circle {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}

.category-item:hover .category-circle img {
    transform: scale(1.03); 
}
.list-slide{
    margin: 0;
}
.test{
    height: 100px;
}