
@import url('https://fonts.googleapis.com/css2?family=Akt:wght@500&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg-main: #1B263B;
    --bg-card: rgb(203, 233, 233);
    --text-main: #FFFFC9;
    --text-muted: #FFFDE7;
    --border-color: #cccccc;
    --bg-footer: rgb(51, 51, 51);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 2px solid red; */
    font-family: 'Akt', sans-serif;

}
img{
    
}
.navbar{
    background-color: var(--bg-main);
}
.header{
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 0px 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: 0.7s;
}
.navbar-nav{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.nav-link{
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    color: var(--text-main);
    padding: 0.3rem 3rem;
    transition: all 0.3s ease;
}
.navbar-brand{
    color: var(--text-main);
    padding: 0;
    
}
.navbar-brand img{
    
}
.navbar .nav-link.active{
    background-color: var(--text-muted);
    color: var(--bg-main);
    border-radius: 50px;
}
.nav-link.active.custom-btn-active,
.nav-link:hover {
    background-color: var(--text-muted);
    color: var(--bg-main);
    border-radius: 50px;
}
@media (max-width: 768px) {
    .navbar-nav{
        display: none;
    }
}